@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClaysysForms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Claysys_SQLTask.styles.css" asp-append-version="true" />
    <link href="~/css/userlayout.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.claysys.com"><img class="main-logo" alt="IT Consulting Services Company - ClaySys Technologies" title="IT Consulting Services Company - ClaySys Technologies" src="~/images/claysys-logo.png"> <span class="position-absolute">®</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="SQL" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                SQL
                            </button>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="Client">Client </a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="Project">Project</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="Database">Database</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="AddTable">Table</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="AddProcedure">Procedure</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="AddIndex">Index</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="ProcedureReview" asp-route-SPID="1">ProcedureReview</a></li>
                                <li><a class="dropdown-item" asp-controller="SQL" asp-action="ReviewList" asp-route-SPID="1">ReviewList</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <span class="navbar-text text-black">
                        @User.Identity.Name
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 @*    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ClaysysForms - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

